$musicLinkColor: #66941c;
$musicBtnTransitionDuration: 0.2s;


#music-page {
    ::selection {
        background: #e7faf2;
    }
    
    main {
        padding-top: 2em;
        padding-top: 7vh;
        padding-bottom: 3em;
        padding-left: 1em;
        padding-right: 1em;
        max-width: 48em;
        margin: 0 auto;
    }
    
    a {
        color: $musicLinkColor;
        
        &:hover,
        &:focus {
            color: lighten($musicLinkColor, 10%);
        }
    }
}

#music-header {
    text-align: center;
    
    h1 { margin: .3em 0 0; }
    h2 { margin: -.7em 0 1.2em; }
}

#music-progress {
    width: 56%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}


/* ------ Play button ------ */
.play-state-btn {
    background: 0;
    outline: 0;
    box-shadow: none;
    width: 3.4em;
    height: 3.4em;
    border-radius: 50%;
    border: 1px solid #ccc;
    background-color: #fff;
    display: inline-block;
    position: relative;
    z-index: 2;
    transition: border-color 0.25s linear;
    
    &:hover,
    &:focus {
        border-color: #555;
        
        .play-icon {
            border-left-color: #555;
        }
    }
}

.play-state-btn-small {
    width: 2em;
    height: 2em;
    
    .play-icon {
        border-width: 5px 0 5px 5px;
        margin: -5px 0 0 -1.5px;
        transform-origin: 2px 6px;
    }
    
    .pause-icon {
        width: .2em;
        height: .8em;
        box-shadow: .2em 0 $musicLinkColor, -.2em 0 $musicLinkColor;
        margin: -.4em 0 0 -0.1em;
    }
}

.play-icon,
.pause-icon {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
}

.play-icon {
    width: 0;
    height: 0;
    margin: -10px 0 0 -3px;
    transform-origin: 3px 10px;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #bbb;
    
    transition: border-color $musicBtnTransitionDuration linear, transform $musicBtnTransitionDuration cubic-bezier(.22, .21, .13, 1), opacity $musicBtnTransitionDuration linear, visibility 0s linear;
}

.pause-icon {
    width: 0.3em;
    height: 1.2em;
    box-shadow: .3em 0 $musicLinkColor, -.3em 0 $musicLinkColor;
    margin: -.6em 0 0 -.15em;
    
    opacity: 0;
    visibility: hidden;
    transform: rotate(100deg);
    
    transition: box-shadow $musicBtnTransitionDuration linear 0s, transform $musicBtnTransitionDuration cubic-bezier(.22, .21, .13, 1) 0s, opacity $musicBtnTransitionDuration linear 0s, visibility 0s linear $musicBtnTransitionDuration;
}

.play-state-btn.active  {
    border-color: $musicLinkColor !important;
    
    &:hover,
    &:focus {
        border-color: lighten($musicLinkColor, 10%) !important;
    }
    
    .play-icon {
        visibility: hidden;
        opacity: 0;
        transform: rotate(-100deg);
        transition-delay: 0s, 0s, 0s, $musicBtnTransitionDuration;
    }
    
    .pause-icon {
        visibility: visible;
        opacity: 1;
        transform: rotate(0);
        transition-delay: 0s, 0s, 0s, 0s;
    }
}

/* ------ End play button ------ */


#profile-image-wrap {
    text-align: right;
    
    img {
        margin-top: .8em;
    }
}


/* ------ Track list ------ */

#tracklist {
    list-style: none;
    text-align: left;
    font-size: .85rem;
    padding-right: 13%;
    
    .play-state-btn {
        float: left;
        margin: .5em .8em .3em 0;
    }
    
    li {
        margin-bottom: .3em;
    }
    
    a {
        display: block;
        padding: .5em 1.2em .4em;
        text-decoration: none;
        transition: box-shadow 0.2s, border-color 0.2s;
        outline: none;
        border-radius: 3px;
        border: 1px solid transparent;
        position: relative;
        z-index: 1;
        
        &:hover {
            box-shadow: 0 1px 10px #F1F1F1;
        }
        
        &:focus {
            box-shadow: 0 1px 1px .5px #DDD;
        }
        
        &:hover .play-state-btn,
        &:focus .play-state-btn {
            border-color: #555;

            .play-icon {
                border-left-color: #555;
            }
        }
        
        &.selected {
            border-color: #ddd;
        }
        
        &.active {
            border-color: $musicLinkColor;
            box-shadow: none;
        }
        
        &.loading:after {
            content: '';
            background: url(/img/loader.svg) no-repeat;
            background-size: contain;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 50%;
            margin-top: -10px;
            right: 1em;
            z-index: 2;
            animation: rotate 0.4s linear infinite;
        }
    }
    
    h4 {
        color: $musicLinkColor;
        margin: 0;
    }
    
    p {
        font-size: 95%;
        margin: .2em 0;
        color: #aaa;
    }
}


/* ------ Progress bar ------ */
#music-progress .play-state-btn {
    position: absolute;
    z-index: 2;
    margin-left: -1em;
}

.progress-bar.active {
    cursor: col-resize;
}

.progress-bar {
    display: block;
    position: relative;
    top: 1.15em;
    z-index: 1;
    height: 17px;
    background: #ddd;
    margin-left: 2.2em;
    
    &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        background: url(/img/stave-overlay.svg) repeat-x right top;
        background-size: cover;
    }
    
    &.dragging {
        cursor: grabbing !important;
    }
}

.progress-bar-inner {
    display: block;
    height: 100%;
    width: 0%;
    background: $musicLinkColor;
}

.time-elapsed {
    position: absolute;
    z-index: 2;
    top: 100%;
    font-size: .9rem;
    color: $musicLinkColor;
    white-space: nowrap;
}

#music-footer p {
    text-align: center;
    padding: 1em 0 5em;
}

@media screen and (max-width: $smBreakpoint){
    #profile-image-wrap {
        text-align: center;
    }
    
    #tracklist {
        padding-right: 0;
    }
    
    #music-progress {
        width: 80%;
    }
}